* {
  box-sizing: border-box;
}

#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}